@font-face {
  font-family: 'Ruluko';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/0bmp5mgwxDelR9L9Fd3OIw.woff")
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
body{
    background: radial-gradient(#4cd96e, #71d9d1) repeat scroll 0% 0% transparent ;  
    background: none repeat scroll 0% 0% #DADADA;
}
body,h1,p,h2,h3,h4,h5,h6,span,sup,div, ul, li{
   font-family: 'Ruluko';    
      
}
#gracias h1,#titulo h1{
    color:rgba(51,152,206,1);
    font-size:150px;
    font-weight:bold;
    font-family: 'Roboto Slab';    
    text-align:center;
}
#gracias h6,#titulo h6,h1{
    font-family: 'Ruluko';
   font-family: 'Roboto Slab';   
    font-size:100px;
    
    color:rgba(0,51,102,0.8);    
    text-align:center;
}
#titulo h6{
    margin-top:-40px;
}

ul.estilo_lista1 li {
    margin-left:80px;
    color:#4689AA;      
}
ul.estilo_lista2 li {
    color:rgba(51,152,206,1);
    font-size:80px;
    list-style:circle;
    font-family: 'Roboto Slab';    
    text-align:center;    
}

p.resaltado1 b{
    font-size:130px;
}
p.resaltado1 .thoughts{
    font-size:150px;
    color: #2a687f;
}
.step h3{
    color:rgba(18,63,84,0.8);
    font-size:80px;    
}
p.resaltado1{
   color: rgba(42,125,167,1);
   font-size:80px;      
    font-weight:bold;
    text-align:center;
    
    z-index:1;
}

.ponentes article p{
    font-size:25px;
    text-align:right;
    color:white;
    
    
    
    
}
.ponentes>q{
    position:absolute;
    bottom:35px;
    font-size:55px;    
    color:rgba(255,255,255,0.8);
    
}
.ponentes>img{
    margin-right:15px;
    border:10px solid #18B2A6;
    border-radius:50%;
   height:390px;
    width:350px;     
}
.ponentes h2{
    color:white;
    font-weight:bold;
    margin-top:-5px;
    margin-bottom:20px;
    font-size:65px;
}
.ponentes article strong{
    color:#3b568d;    
}
.ponentes>img{
    width:390px;
    max-height:440px;
}

.ponentes_nacionales h2{
    margin-bottom:50px;
    line-height:45px;
}
.ponentes_nacionales article p{
    padding-top:30px;
    text-align:center;    
}
.ponentes_nacionales p.descripcion_corta{
    font-size:40px;
    line-height:50px;
}
#juan-villegas article p,#ocapunay article p{
   padding-top:60px;
    line-height:45px;
}
#juaneladio article p{
    padding-top:0px;
}

.slide{
    background-color:#01A89E;
    
}
img.centrar{
    margin-left:20%;
    margin-right:20%;
    
}

